<div class="sidebar position-fixed bottom-0 left-0 d-flex flex-column flex-shrink-0 p-3 text-white">
	<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
		<svg class="bi me-2" width="40" height="32">
			<use xlink:href="#bootstrap"></use>
		</svg>
		<span class="fs-4">Downloads</span>
	</a>
	<hr>
	<div class="dropdown py-2" x-data="{ open: false }">
		<a href="#" class="d-flex gap-2 align-items-center text-white text-decoration-none dropdown-toggle lang-select" x-on:click="open = ! open" aria-expanded="false">
			<img src="/lib/tpl/dokuwiki/img/countries/{{conf.lang}}.svg" alt="" width="24" height="24" class="mr-2">
			<strong>{{__(lang_name(conf.lang))}}</strong>
		</a>
		<ul x-show="open" @click.away="open = false" class="dropdown-menu-dark drop-menu text-small shadow">
			{% for language in get_langs() %}
			{% if language != conf.lang %}
			<li>
				<a class="dropdown-item" href="/?lang={{language}}">
					<img src="/lib/tpl/dokuwiki/img/countries/{{language}}.svg" alt="" width="24" height="24" class="mr-2"> 
					{{__(lang_name(language))}}
				</a>
			</li>
			{% endif %}
			{% endfor %}
		</ul>
	</div>
	<div id="react-tree"></div>


</div>
