<!DOCTYPE html>
<html lang="{{conf.lang}}" dir="{{lang.direction}}" class="no-js">

	<head>
		<meta charset="utf-8"/>
		<title>{{tpl_pagetitle()}}
			|
			{{conf.title}}</title>
		
		<link rel="stylesheet" href="{{tpl_basedir}}public/admin.css?ver=23436">

		<meta name="viewport" content="width=device-width,initial-scale=1"/>
		{{ tpl_metaheaders()|raw }}
		{{ tpl_favicon|raw }}
	</head>

	<body class="font-body antialiased mr-4 pt-20 lg:mr-10 lg:text-lg {{ tpl_classes }}">

		{% include "partials/menu.twig" with {'menu': menu.items } %}
		{% include "partials/breadcrumbs.twig" with {'breadcrumbs': breadcrumbs} %}
		<div class="uk-fghfgh">
			<div class="uk-container">
				{{ tpl_content(false) }}
			</div>
		</div>
		{{ tpl_include_page("sidebar", false) }}

		{% if acl.admin %}
			<a class="ctx-floating-button" href="edit">EDIT</a>
		{% endif %}
		<script>
			DOKU_TPL = '{{ tpl_basedir }}';
		</script>
		<script src="{{tpl_basedir}}/public/js/main.js" type="text/javascript"></script>
	</body>
</html>
