<!DOCTYPE html>
<html lang="{{conf.lang}}" dir="{{lang.direction}}">

	{% include "partials/head.twig" with {'colors': colors} %}

	<body class=" {{tld}} {{ tpl_classes }} {{ metadata.subject|join(" ") }}">

			

		
			


			


				
					<div id="react-editor"></div>
				


			
		

			<script>
				DOKU_TPL = "{{ tpl_basedir }}";
				DOKU_ID = "{{ id }}";
				window.DOKU_SITE = {{ site|json_encode|raw }};
				DOKU_LANG = "{{ conf.lang }}";
				DOKU_USER = {{ user|json_encode|raw }};
				DOKU_LANGS = {{ get_langs()|json_encode|raw }};
				DOKU_MENU = {{ admin_menu()|json_encode|raw }};
			</script>
			<script src="{{tpl_basedir}}assets/dist/main.js" type="text/javascript"></script>
			<script defer src="{{tpl_basedir}}/assets/dist/editor.js?ver=29334568" type="text/javascript"></script>
			<script src="{{tpl_basedir}}/assets/dist/tree.js?ver=2945367" type="text/javascript"></script>
			{{ tpl_indexerWebBug() }}</body>
	</body>
</html>

