<!DOCTYPE html>
<html lang="{{conf.lang}}" dir="{{lang.direction}}">

	{% include "partials/head.twig" with {'colors': colors} %}

	<body class=" {{tld}} {{ tpl_classes }} {{ metadata.subject|join(" ") }}">

		{% include "partials/sidebar.twig" with {'menu': menu} %}

		<main class="wrapper flex-grow-1">
			{% include "partials/menu.twig" with {'menu': menu} %}


			<article class="">


				<div class="edit">
					<div id="react-editor"></div>
				</div>


			</article>


			<script>
				DOKU_TPL = "{{ tpl_basedir }}";
				DOKU_ID = "{{ id }}";
				window.DOKU_SITE = {{ site|json_encode|raw }};
				DOKU_LANG = "{{ conf.lang }}";
				DOKU_USER = {{ user|json_encode|raw }};
			</script>
			<script src="{{tpl_basedir}}assets/dist/main.js" type="text/javascript"></script>
			<script defer src="{{tpl_basedir}}/assets/dist/editor.js?ver=29367" type="text/javascript"></script>
			<script src="{{tpl_basedir}}/assets/dist/tree.js?ver=29367" type="text/javascript"></script>
			{{ tpl_indexerWebBug() }}</body>
	</body>
</html>

{{ tpl_indexerWebBug() }}</div></body></html>
